
    {{#if admin}}
        <button class="btn btn-lg btn-primary mb-5" id="pause-button">#Pause/Play</button>
    {{/if}}
    <h1 class="header d-inline-block" id="clock" data-is_paused={{game_params.is_paused}}>00:05</h1>
    <h4 class="sub-header d-inline-block float-right align-bottom">Round <span id="round">{{game_params.current_round}}</span></h4>
