<form id="global-effect-form">
   <label for="global-effect-text">Effect Text</label>
   <input
       type="text"
       class="form-control global-effect-control"
       id="global-effect-text"
   >
   <label for="global-effect-start-trigger-type">Start Trigger Type</label>
   <input
       type="text"
       class="form-control global-effect-control"
       id="global-effect-start-trigger-type"
   >
   <label for="global-effect-start-trigger-value">Start Trigger Value</label>
   <input
       type="text"
       class="form-control global-effect-control"
       id="global-effect-start-trigger-value"
   >
   <label for="global-effect-end-trigger-type">End Trigger Type</label>
   <input
       type="text"
       class="form-control global-effect-control"
       id="global-effect-end-trigger-type"
   >
   <label for="global-effect-end-trigger-value">End Trigger Value</label>
   <input
       type="text"
       class="form-control global-effect-control"
       id="global-effect-end-trigger-value"
   >
   <label for="global-effect-is-hidden">Hidden</label>
   <input
       type="checkbox"
       class="form-control global-effect-control"
       id="global-effect-is-hidden"
   >
</form>