<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Watch the Screens!</h1>
    <p class="lead">An website to aid in playing the mega game, Watch the Skies.</p>
    <hr class="my-2">
    <p>Here are all the games currently running</p>
    <p class="lead">
      {{#each games}}
        <a href="/{{id}}/overview" class="badge badge-primary">{{game_description}}</a>
      {{/each}}
    </p>
  </div>
</div>