.list-group-item {
  line-height: 2.5;
}

.article-text {
  /* preserves the whitespace put in by the author in the textarea input field */
  white-space: pre-wrap;
}

.hidden {
  display: none;
}

.marquee {
  width: 100vw; /*the plugin works for responsive layouts so width is not necessary */
  overflow: hidden;
  /* border:1px solid #ccc; */
}

body {
  overflow-x: hidden;
}

ul {
  list-style: none;
}

#clock, .header {
  font-size: 7em;
}

.sub-header {
  font-size: 2.5em;
}

.article-image {
  max-height: 200px;
  max-width: 400px;
}

.article-container {
  height: 500px;
  width: 400px;
}